.header{
    padding:15px 150px;

    .header__link{
        text-decoration:none;
        color: black;
        font-size:24px;

        &--active,&:hover{
            color: #aad;
        }
    }
    .header__title{
        font-weight: 700;
    }
    .justify-content-between{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    
}