.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:25rem;

    background-image: url(../../assets/image/Anh-thien-nhien-1.jpg);
    background-position: center;
    background-size: contain;

    &__title{
        color: rgba(255, 255, 255, 0.815);
        font-weight: bold;
    }
}